.form__item {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.8);
    max-width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    margin: 45px 36px 0 36px;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .form__item {
        max-width: 238px;
        margin: 43px 22px 0 22px;
    }
}