.popup__button {
    background-color: black;
    color: white;
    max-width: 358px;
    margin: 50px 36px 37px 36px;
    padding: 0;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

.popup__button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .popup__button {
        max-width: 238px;
        margin: 50px 22px 0 22px;
        font-size: 14px;
        line-height: 16.94px;
    }
}