.element__heart {
  max-width: 22px;
  width: 100%;
  object-fit: contain;
  margin: 0;
}

.element__heart:hover {
  opacity: 0.5;
}

.element__heart:active {
  opacity: 1;
  background-image: url(../../../images/Union.png);
}