.element__heart {
  width: 22px;
  background-image: url('../../../images/VectorStroke.svg');
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: inherit;
  height: 19px;
  cursor: pointer;
  margin-left: 45px;
}

.element__heart:hover {
  opacity: 0.5;
}

.element__heart:active {
  opacity: 1;
  background-image: url(../../../images/Union.svg);
}