.popup__close-icon {
    position: absolute;
    right: 385px;
    top: 155px;
    background-image: url('../../../images/CloseIcon.svg');
    background-color: transparent;
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .popup__close-icon {
        right: 19px;
        top: 87px;
        width: 20px;
        height: 20px;
    }
}